:root{
    --primario: #FF5936;
    --primarioOscuro: #2BADDA;
    --primarioNav: #228CB1;
    --secundario: #FFC300;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;
    --rojo: #C70039; 

    --fuentePrincipal: 'Oswald';
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**Globales**/
body {
    background-color: var(--primarioOscuro);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco)
}

a{
    text-decoration: none;
}

img{
    width:100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width: 1000px){
    img{
        width: 80%;
        margin-left: 14rem;
    }
}
.contendor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 5rem;
    
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/** Header **/
.header{
    display: grid;



}

.header__logo{
  margin: 3rem 0;

}
/**Logo**/
.logo{
    width: 50%;
}
/** Navegacion **/
.navegacion{
    color:#fff;
    background-color: var(--rojo);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    font-weight: bold;
}

.navegacion a{
    color:var(--blanco);
    margin-left: 1rem;
}

.navegacion a:hover{
    color: var(--secundario);
}

/** Producto **/
.producto{


}


.producto__imagen {
    margin-top: 5rem;
}

.producto__informacion{
    padding: 2rem;
    background-color: var(--primarioNav);
    text-align: center;
    border-radius: 1rem;
}
.producto__nombre{

}
.producto__precio{

}

.portada__img{
    margin-top: 5rem;
}

.portada{
    background-color: var(--primarioNav);
    padding: 2rem;
    margin: 0;
    border-radius: 1rem;
    color:var(--secundario)
}

/** Footer**/
.footer__texto{
    font-size: 1.2rem;
    color: var(--secundario);
    background-color: var(--negro);
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
