:root{
    --primario: #FF5936;
    /*--primarioOscuro: #2BADDA;*/
    --primarioOscuro: #F9F4F6;
    /*--primarioNav: #228CB1;*/
    --primarioNav: #000;
    --secundario: #FFC300;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;
    --rojo: #C70039; 

    --fuentePrincipal: 'Oswald';
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**Globales**/
body {
    background-color: var(--primarioOscuro);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}

p {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco)
}

@media(max-width:1000px){
    p{
        font-size: 1.8rem;
    }
}

a{
    text-decoration: none;
}

img{
    width:100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width: 1000px){
    img{
        width: 80%;
        margin-left: 14rem;
    }
}
.contendor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 9rem;
    color: var(--negro);
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/** Header **/
.header{
    
}

.header__logo{
    display:flex;
    align-items: center;
    margin-top: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(249, 244, 246, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(249, 244, 246, 1);
    box-shadow: 0px 0px 0px 0px rgba(0249, 244, 246, 1);
}
/**Logo**/
.logo{

}
/** Navegacion **/
.navegacion{
    color:#fff;
    background-color: var(--rojo);
    padding: 1rem 0;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    font-weight: bold;
}

@media(max-width:1100px){
    .navegacion{
        font-size: 2rem;
    }
}

.navegacion a{
    color:var(--blanco);

}

.navegacion a:hover{
    color: var(--secundario);
}

/** Producto **/
    .producto{
    }


.producto__imagen {
    margin-top: 3rem;
}

.producto__informacion{
    padding: 2rem;
    background-color: var(--primarioNav);
    text-align: center;
    border-radius: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

@media(max-width:1000px){
    .producto__informacion{
        margin: 0;
    }
}

.producto__nombre{

}
.producto__precio{

}

.producto__link{
    font-size: 3rem;
    text-decoration: underline;
    color: var(--secundario)
}
@media(max-width:1000px){
    .producto__link{
        font-size: 2.5rem;
    }
}

/**Portada**/

.portada{
    background-color: var(--primarioNav);
    padding: 2rem;
    margin: 0;
    border-radius: 1rem;
    color:var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada__img{
    margin-top: 1rem;
}

.portada__autor{
    color: var(--secundario);
}

@media(max-width: 1100px){
    .portada__autor{
        font-size: 3rem;
    }
}

.portada__paypal{
    margin-top: 2rem;
    color:var(--secundario);
    font-size: 2.9rem;
    text-decoration: underline;
}

@media(max-width: 1100px){
    .portada__paypal{
        font-size: 2rem;
        margin-left: 0;
    }
}

.portada__telefono{

}

@media(max-width: 1100px){
    .portada__telefono{
        font-size: 2rem;
    }
}

.portada__correo{

}

@media(max-width: 1100px){
    .portada__correo{
        font-size: 2rem;
    }
}

.portada__instagram{
    color:var(--secundario);
    font-size: 3.4rem;
    text-decoration: underline;
}

@media(max-width: 1100px){
    .portada__instagram{
        font-size: 2rem;
    }
}

@media(max-width:1100px){
    .portada__instagram-etiqueta{
        font-size: 2rem;
    }
}

.portada__facebook{
    color: var(--secundario);
    font-size: 3.4rem;
    text-decoration: underline;
}

@media(max-width: 1100px){
    .portada__facebook{
        font-size: 2rem;
    }
}

@media(max-width:1100px){
    .portada__facebook-etiqueta{
        font-size: 2rem;
    }
}

/** Footer**/
.footer__texto{
    font-size: 1.2rem;
    color: var(--secundario);
    background-color: var(--negro);
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
